<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenavService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Yakishow
  <span style="flex: 1 1 auto"></span>
  <button
    [matMenuTriggerFor]="userMenu"
    mat-icon-button
    *ngIf="authQuery.isLogged$ | async; else login"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button
      mat-menu-item
      (click)="changeTheme(theme)"
      *ngLet="authQuery.theme$ | async as theme"
    >
      Tema
      {{ theme === themesEnum.light ? 'escuro' : 'claro' }}
    </button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
  <ng-template #login>
    <button mat-button (click)="onLogin()">Login</button>
  </ng-template>
</mat-toolbar>
<mat-progress-bar
  *ngIf="loadingService.isLoading$ | async"
  mode="indeterminate"
  color="accent"
  @inOut
></mat-progress-bar>
