<div class="page-title">
  <h2>
    {{ idPessoa ? 'Editar pessoa' : 'Nova pessoa' }}
  </h2>
</div>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-form-field *ykLet="form.get('nome') as nomeControl" class="nome">
    <input matInput formControlName="nome" placeholder="Nome" required />
    <mat-error *ngIf="nomeControl.hasError('required')">
      Nome é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field *ykLet="form.get('celular') as celularControl">
    <input
      matInput
      formControlName="celular"
      placeholder="Celular"
      required
      inputmode="tel"
      [mask]="masksEnum.celular"
      [ykUniqueCelular]="idPessoa"
    />
    <mat-error *ngIf="celularControl.hasError('uniqueCelular')">
      Celular já cadastrado
    </mat-error>
    <mat-error *ngIf="celularControl.hasError('required')">
      Celular é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="cep"
      placeholder="CEP"
      inputmode="numeric"
      [mask]="masksEnum.cep"
    />
    <mat-spinner matSuffix diameter="18" *ngIf="loadingCep"></mat-spinner>
  </mat-form-field>
  <mat-form-field *ykLet="form.get('endereco') as enderecoControl">
    <input
      matInput
      formControlName="endereco"
      placeholder="Endereço"
      required
    />
    <mat-error *ngIf="enderecoControl.hasError('required')">
      Endereço é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="complemento" placeholder="Complemento" />
  </mat-form-field>
  <mat-form-field *ykLet="form.get('email') as emailControl">
    <input
      matInput
      formControlName="email"
      placeholder="E-mail"
      email
      type="email"
      inputmode="email"
      [ykUniqueEmail]="idPessoa"
    />
    <mat-error *ngIf="emailControl.hasError('email')">
      E-mail inválido
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('uniqueEmail')">
      E-mail já cadastrado
    </mat-error>
  </mat-form-field>
  <button
    mat-mini-fab
    ykFabFloating
    left
    type="button"
    (click)="navigateBack()"
    [disabled]="loadingPessoa"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button
    mat-mini-fab
    ykFabFloating
    right
    type="submit"
    [disabled]="loadingPessoa || form.invalid || form.pristine || form.pending"
  >
    <mat-icon>save</mat-icon>
  </button>
</form>
