app-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  app-card {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    > .yk-card {
      height: 6.1rem;
      width: 6.1rem;
      box-sizing: border-box;
    }
  }
}
