<ng-container *ngIf="hasHistory$ | async">
  <button
    *ngIf="miniFab; else fab"
    mat-mini-fab
    [ngClass]="{
      top: top,
      right: right,
      bottom: bottom,
      left: left,
      'mat-button-floating': floating
    }"
    (click)="navigateBack()"
  >
    <mat-icon>
      keyboard_arrow_left
    </mat-icon>
  </button>
  <ng-template #fab>
    <button
      mat-fab
      [ngClass]="{
        top: top,
        right: right,
        bottom: bottom,
        left: left,
        'mat-button-floating': floating
      }"
      (click)="navigateBack()"
    >
      <mat-icon>
        keyboard_arrow_left
      </mat-icon>
    </button>
  </ng-template>
</ng-container>
