@import '~@angular/material/theming';
@import 'variables';

form {
  .mat-form-field {
    margin-bottom: 1rem;
  }
}

.mat-form-field {
  width: 100%;
  &.search {
    .mat-form-field-wrapper {
      margin-left: $main-padding;
      margin-right: $main-padding;
    }
  }
}

@media ($mat-xsmall) {
  .mat-form-field {
    font-size: 1.25rem;
  }
}
