@import '~@angular/material/theming';

@function yk-color(
  $color,
  $default: 500,
  $lighter: 100,
  $darker: 700,
  $text: $default
) {
  @return mat-color(mat-palette($color, $default, $lighter, $darker, $text));
}
