@import 'variables';

.page-title {
  display: flex;
  justify-content: space-between;
  @extend .main-padding;
}

.d-flex-align-center-justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-margin-cards {
  margin: $main-padding $main-padding 0;
}

.main-padding {
  padding: $main-padding;
}

.main-padding-t {
  padding-top: $main-padding;
}

.main-padding-b {
  padding-bottom: $main-padding;
}

.main-padding-l {
  padding-left: $main-padding;
}

.main-padding-r {
  padding-right: $main-padding;
}

.main-padding-x {
  padding-left: $main-padding;
  padding-right: $main-padding;
}

.main-padding-y {
  margin-top: $main-padding;
  margin-bottom: $main-padding;
}

.main-margin {
  margin: $main-padding;
}

.main-margin-t {
  margin-top: $main-padding;
}

.main-margin-b {
  margin-bottom: $main-padding;
}

.main-margin-l {
  margin-left: $main-padding;
}

.main-margin-r {
  margin-right: $main-padding;
}

.main-margin-x {
  margin-left: $main-padding;
  margin-right: $main-padding;
}

.main-margin-y {
  margin-top: $main-padding;
  margin-bottom: $main-padding;
}

.pointer-events-none {
  pointer-events: none;
}
