@import '~@angular/material/theming';

@mixin mat-list-theme($theme) {
  $foreground: map-get($theme, foreground);
  .mat-list-base {
    .mat-list-item {
      .mat-line {
        &.mat-line-secondary {
          font-size: 0.8em;
          color: lighten(mat-color($foreground, text), 30%);
        }
      }
    }
  }
}
