.swipe-actions {
  transition: transform 100ms linear;
  position: relative;
  overflow-x: visible;
  .action-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80px;
    z-index: -1;
    &.show {
      display: flex;
    }
  }
}
