@import '~@angular/material/theming';
@import 'functions';

$primary-light: mat-palette($mat-red, 900, 100, 700, A700);
$accent-light: mat-palette($mat-orange, A200, A100, A400);

$primary-dark: mat-palette($mat-red, 900, 100, 700, 100);
$accent-dark: mat-palette($mat-orange, A200, A100, A400);

$light-theme: mat-light-theme($primary-light, $accent-light);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);

$background: map-get($light-theme, background);
$background-list-disabled: mat-color($background, disabled-list-option);
$background-list-active: rgba(0, 0, 0, 0.04);

$header-height: 64px;
$header-z-index: 500;

$main-padding: 15px;

// Colors
$preparando: yk-color($mat-blue, 100);
$despachado: yk-color($mat-blue, A100);
$finalizado: yk-color($mat-green, A100);
$cancelado: yk-color($mat-red, A100);

// Breakpoints
$mat-xs: 'max-width: 599px';
$mat-sm: 'min-width: 600px';
$mat-md: 'min-width: 960px';
$mat-lg: 'min-width: 1280px';
$mat-xl: 'min-width: 1920px';
