@import 'variables';

.pesquisa {
  margin-left: $main-padding;
  margin-right: $main-padding;
  .form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
    > .full-row {
      grid-column: span 2;
    }
  }
}

.mat-list-base {
  .mat-list-item {
    &.cancelado {
      color: $cancelado;
    }
    &.finalizado {
      color: $finalizado;
    }
    &.despachado {
      color: $despachado;
    }
    &.preparando {
      color: $preparando;
    }
  }
}
