<div class="page-title">
  <h2>Produtos</h2>
</div>

<mat-form-field class="search">
  <input
    type="search"
    autocomplete="off"
    [formControl]="searchControl"
    matInput
  />
  <mat-label> <mat-icon>search</mat-icon> Pesquisar </mat-label>
  <mat-hint>Pesquise pela descrição ou código do produto</mat-hint>
</mat-form-field>

<mat-nav-list>
  <ng-container
    *ngFor="
      let produto of produtoQuery.all$
        | async
        | search: ['codigo', 'descricao']:(search$ | async)
        | orderBy: settingsForm.get('orderBy').value;
      trackBy: trackByProduto;
      let $last = last
    "
  >
    <mat-list-item
      [class.inativo]="!produto.ativo"
      [class.active]="idProduto === produto.id"
      (click)="openModalProduto(produto)"
      [id]="produto.id"
      #produtosRef
    >
      <div matLine>{{ produto.descricao }}</div>
      <div matLine class="mat-line-secondary">{{ produto.codigo }}</div>
      <div matSuffix>{{ produto.valor | currency }}</div>
    </mat-list-item>
    <mat-divider *ngIf="!$last"></mat-divider>
  </ng-container>
</mat-nav-list>
<button mat-mini-fab ykFabFloating right top [matMenuTriggerFor]="orderRef">
  <mat-icon>sort</mat-icon>
</button>
<button mat-mini-fab ykFabFloating bottom left (click)="navigateBack()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<button mat-mini-fab ykFabFloating bottom center (click)="openModalProduto()">
  <mat-icon>add</mat-icon>
</button>

<mat-menu #orderRef="matMenu" [formGroup]="settingsForm" [hasBackdrop]="true">
  <app-menu-order-by
    [items]="produtoKeys"
    formControlName="orderBy"
  ></app-menu-order-by>
</mat-menu>
