<div class="page-title">
  <h2>Produtos</h2>
</div>

<mat-form-field class="search">
  <input
    type="search"
    autocomplete="off"
    [formControl]="searchControl"
    matInput
  />
  <mat-label> <mat-icon>search</mat-icon> Pesquisar </mat-label>
  <mat-hint>Pesquise pela descrição ou código do produto</mat-hint>
</mat-form-field>

<mat-nav-list *ykLet="search$ | async as search">
  <a
    [class.inativo]="!produto.ativo"
    [class.active]="idProduto === produto.id"
    mat-list-item
    *ngFor="
      let produto of produtoQuery.all$
        | async
        | search: ['codigo', 'descricao']:search
        | orderBy: 'descricao';
      trackBy: trackByProduto
    "
    (click)="openModalProduto(produto)"
    [id]="produto.id"
    #produtosRef
  >
    <div matLine>{{ produto.descricao }}</div>
    <div matLine class="mat-line-secondary">{{ produto.codigo }}</div>
    <div matSuffix>{{ produto.valor | currency }}</div>
  </a>
</mat-nav-list>
<button mat-mini-fab ykFabFloating left (click)="navigateBack()">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<button mat-mini-fab ykFabFloating center (click)="openModalProduto()">
  <mat-icon>add</mat-icon>
</button>
