@import '~@angular/material/theming';
@import 'variables';

app-novo-pedido {
  .pessoa-info {
    position: sticky;
    top: $header-height;
    padding-top: $main-padding / 4;
    padding-bottom: 1rem;
    background-color: map-get($mat-light-theme-background, background);
    z-index: 2;
  }

  .produtos {
    margin-left: 5px;
    margin-right: 5px;
    > .produto {
      padding: 0.5rem;
    }
  }
}

.dark-theme {
  app-novo-pedido {
    .pessoa-info {
      background-color: map-get($mat-dark-theme-background, background);
    }
  }
}
