<div class="page-title">
  <h2>Novo pedido</h2>
</div>
<mat-form-field
  class="search"
  [hideRequiredMarker]="true"
  *ykLet="clientes$ | async as clientes"
>
  <input
    [formControl]="clienteControl"
    matInput
    placeholder="Celular ou nome"
    [matAutocomplete]="clienteAutocomplete"
    [matAutocompleteDisabled]="!!pessoa?.id"
    #clienteRef
  />
  <mat-autocomplete #clienteAutocomplete [autoActiveFirstOption]="true">
    <mat-option
      *ngFor="let cliente of clientes; trackBy: trackByCliente"
      [value]="cliente.celular | mask: maskEnum.celular"
      (click)="selectCliente(cliente)"
    >
      {{ cliente.celular | mask: maskEnum.celular }} - {{ cliente.nome }}
    </mat-option>
    <mat-option
      *ngIf="
        !pessoa?.id &&
        !loadingPessoa &&
        clienteControl.value &&
        !clientes?.length
      "
      [value]="clienteRef.value"
      (click)="criarPessoa(clienteRef.value)"
    >
      Nenhum cliente encontrado, criar?
    </mat-option>
  </mat-autocomplete>
  <mat-spinner matSuffix *ngIf="loadingPessoa" diameter="18"></mat-spinner>
</mat-form-field>
<div class="pessoa-info" *ngIf="pessoa">
  <mat-list>
    <mat-list-item class="active">
      <span matLine>{{ pessoa.nome }}</span>
      <span matLine class="mat-line-secondary">{{ pessoa.endereco }}</span>
      <span *ngIf="pessoa.complemento" matLine class="mat-line-secondary">
        {{ pessoa.complemento }}
      </span>
      <button mat-icon-button matSuffix color="warn" (click)="onDeletePessoa()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
<div
  class="produtos"
  *ngIf="
    !clienteControl.invalid &&
    !clienteControl.pending &&
    !loadingPessoa &&
    !!pessoa
  "
>
  <ng-container *ngIf="!formGroupArray.length">
    <div class="main-margin-x">Nenhum produto adicionado nesse pedido</div>
  </ng-container>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="
        let form of formGroupArray;
        let $index = index;
        trackBy: trackByFormArray
      "
      (afterExpand)="expanded = $index"
      [disabled]="pedidoSaving"
      ykSwipeActions
      swipeIcon="delete"
      swipeIconColor="warn"
      [updatePositionOnAnyChange]="true"
      [swipeDisabled]="pedidoSaving"
      (swipeAction)="deleteProduto($index)"
      [class.mat-error]="form.dirty && form.get('codigo').hasError('required')"
      #matExpansionPanel
      #swipeActions="ykSwipeActions"
      @items
    >
      <mat-expansion-panel-header>
        <ng-container *ngIf="form.get('descricao').value; else noCodigo">
          {{ form.get('codigo').value }} - {{ form.get('descricao').value }}
        </ng-container>
        <ng-template #noCodigo>
          Produto não selecionado
        </ng-template>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="produto">
          <app-novo-pedido-form [form]="form"></app-novo-pedido-form>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <button
    mat-mini-fab
    ykFabFloating
    center
    bottom
    (click)="addForm()"
    [disabled]="pedidoSaving"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-mini-fab
    ykFabFloating
    bottom
    right
    [disabled]="(saveDisabled$ | async) || !formProdutos.length || pedidoSaving"
    (click)="salvar()"
  >
    <mat-icon>
      save
    </mat-icon>
  </button>
</div>
<button
  mat-mini-fab
  ykFabFloating
  left
  bottom
  (click)="navigateBack()"
  [disabled]="pedidoSaving"
>
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
