<div
  cdk-overlay-origin
  class="sidenav-origin"
  #sidenav="cdkOverlayOrigin"
></div>
<ng-template
  cdk-connected-overlay
  [cdkConnectedOverlayOrigin]="sidenav"
  [cdkConnectedOverlayOpen]="sidenavService.isOpen$ | async"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="sidenavService.close()"
>
  <div class="sidenav" @slideInOut (swipeleft)="sidenavService.close()">
    <mat-nav-list>
      <ng-container
        *ngFor="let menu of sidenavService.menus; trackBy: trackByMenu"
      >
        <a
          mat-list-item
          *ngIf="(menu.auth | async) || !menu.auth"
          [routerLink]="menu.routerLink"
          routerLinkActive="active"
          (click)="sidenavService.close()"
        >
          <mat-icon matListIcon>{{ menu.icon }}</mat-icon>
          <h4 matLine>{{ menu.title }}</h4>
        </a>
      </ng-container>
    </mat-nav-list>
  </div>
</ng-template>
