/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
@import '~@angular/material/theming';

@include mat-core();

@import './styles/variables';
@import './styles/global';
@import './styles/form';
@import './styles/list';
@import './styles/button';
@import './styles/dialog';
@import './styles/snackbar';
@import './styles/swipe-actions';
@import './styles/card';

@include angular-material-theme($light-theme);
@include mat-list-theme-custom($light-theme);
@include mat-snack-bar-custom($light-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  &.dark-theme {
    @include angular-material-theme($dark-theme);
    @include mat-list-theme-custom($dark-theme);
    @include mat-snack-bar-custom($dark-theme);
    color: white;
    background-color: map-get($mat-dark-theme-background, background);
  }
}
