<ng-container *ykLet="hasPedido$ | async as hasPedido">
  <form
    [formGroup]="form"
    [ykDisabledControl]="loading || hasPedido || loadingExistsPedido"
    (ngSubmit)="onSubmit()"
    *ykLet="form.get('ativo').value as isAtivo"
  >
    <h2 mat-dialog-title>
      {{ edit ? 'Editar Produto' : 'Adicionar Produto' }} - disabled
      {{ loading || hasPedido || loadingExistsPedido }}
    </h2>
    <mat-dialog-content>
      <mat-card
        *ngIf="hasPedido"
        class="error mat-elevation-z0 outline"
        mat-ripple
        [routerLink]="['/', 'pedidos', 'pesquisa']"
        [queryParams]="{
          idProduto: produto.id,
          backUrl: '/produtos?idProduto=' + produto.id
        }"
        (click)="matDialogRef.close()"
      >
        <mat-card-subtitle class="last-child">
          Produto bloqueado pois já existem pedidos.
        </mat-card-subtitle>
      </mat-card>
      <mat-form-field *ykLet="form.get('codigo') as codigoControl">
        <input
          matInput
          type="text"
          formControlName="codigo"
          placeholder="Código"
          maxlength="30"
          autocomplete="off"
          [ykDisabledControl]="!isAtivo"
          #codigo
        />
        <mat-hint align="end"
          >{{ codigo.value?.length | default: 0 }}/30</mat-hint
        >
        <mat-error *ngIf="codigoControl.hasError('required')">
          Código é obrigatório!
        </mat-error>
        <mat-error *ngIf="codigoControl.hasError('uniqueCodigo')">
          Esse código já existe!
        </mat-error>
        <mat-spinner
          matSuffix
          diameter="18"
          *ngIf="codigoControl.pending"
        ></mat-spinner>
      </mat-form-field>
      <mat-form-field *ykLet="form.get('descricao') as descricaoControl">
        <textarea
          matInput
          [matTextareaAutosize]="true"
          type="text"
          formControlName="descricao"
          placeholder="Descrição"
          maxlength="255"
          [ykDisabledControl]="!isAtivo"
          #descricao
        ></textarea>
        <mat-hint align="end">
          {{ descricao.value?.length | default: 0 }}/255
        </mat-hint>
        <mat-error *ngIf="descricaoControl.hasError('required')">
          Descrição é obrigatória!
        </mat-error>
        <mat-error *ngIf="descricaoControl.hasError('maxlength')">
          Descrição muito grande!
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          inputmode="decimal"
          currencyMask
          [options]="{ allowNegative: false }"
          formControlName="valor"
          placeholder="Valor"
          autocomplete="off"
          [ykDisabledControl]="!isAtivo"
        />
        <span matPrefix>R$&nbsp;</span>
        <mat-error *ngIf="form.get('valor').hasError('required')">
          Valor é obrigatório!
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <mat-checkbox formControlName="ativo">
        Ativo
      </mat-checkbox>
      <button
        mat-button
        color="primary"
        [disabled]="
          loading ||
          form.invalid ||
          form.pristine ||
          form.pending ||
          hasPedido ||
          loadingExistsPedido
        "
      >
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="loading"
        ></mat-progress-bar>
        Salvar
      </button>
    </mat-dialog-actions>
  </form>
</ng-container>
