<h2 mat-dialog-title>Nova Pessoa</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>
    <mat-form-field *ykLet="form.get('celular') as celularControl" class="nome">
      <input
        [mask]="masksEnum.celular"
        matInput
        formControlName="celular"
        placeholder="Celular"
        autocomplete="tel"
      />
      <mat-error *ngIf="celularControl.hasError('required')">
        Celular é obrigatório
      </mat-error>
      <mat-error *ngIf="celularControl.hasError('uniqueCelular')">
        Celular já cadastrado
      </mat-error>
      <mat-spinner
        matSuffix
        diameter="18"
        *ngIf="celularControl.pending"
      ></mat-spinner>
    </mat-form-field>
    <mat-form-field *ykLet="form.get('nome') as nomeControl" class="nome">
      <input
        matInput
        formControlName="nome"
        placeholder="Nome"
        autocomplete="name"
      />
      <mat-error *ngIf="nomeControl.hasError('required')">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field *ykLet="form.get('endereco') as enderecoControl">
      <input
        matInput
        formControlName="endereco"
        placeholder="Endereço"
        autocomplete="street-address"
      />
      <mat-error *ngIf="enderecoControl.hasError('required')">
        Endereço é obrigatório
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      type="submit"
      color="accent"
      [disabled]="loading || form.invalid || form.pending || form.pristine"
    >
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      Salvar
    </button>
  </mat-dialog-actions>
</form>
